<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Athena_Hybrid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Athena_Hybrid.Properties.Settings>
            <setting name="bIsLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FnUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="FnPath" serializeAs="String">
                <value />
            </setting>
            <setting name="deviceid" serializeAs="String">
                <value />
            </setting>
            <setting name="secret" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordId" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordPfp" serializeAs="String">
                <value />
            </setting>
            <setting name="bIsCustomLobby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomLobby" serializeAs="String">
                <value />
            </setting>
            <setting name="bIsPremium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value />
            </setting>
            <setting name="createdKey" serializeAs="String">
                <value />
            </setting>
            <setting name="closingKey" serializeAs="String">
                <value />
            </setting>
            <setting name="cLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cVBucks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cCrowns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cStars" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="epicId" serializeAs="String">
                <value />
            </setting>
            <setting name="bIsIngame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bIsDevInventory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bFACB" serializeAs="String">
                <value>False</value>
            </setting>
        </Athena_Hybrid.Properties.Settings>
    </userSettings>
</configuration>