@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(Montserrat-SemiBold.39bc7b11.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(10, 25, 38, 0.95) 0%, rgba(5, 70, 113, 0.95) 100%);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.logo {
    width: 120px;
    padding: 20px;
    cursor: pointer;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #b9b9b9;
}

.content h1 {
    font-size: 64px;
    font-weight: 600;
}


.content h1 span{
    color: #4fb1f2;
}

.button-container {
    position: relative;
    display: inline-block;
}

.button-container img {
    width: 100%;
}

.content button {
    position: absolute;
    bottom: 0;
    transform: translateX(-16%);
    left: 0;
    background-color: #ffffff00;
    filter: drop-shadow(0px 0px 4px #4fc1f2);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

.launch-time {
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
   font-size: 60px;
   margin-bottom: -14px;
}

.rocket {
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 10s linear infinite;
}

@keyframes rocket{
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
}